@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f9fcfb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

input:focus::placeholder,
input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea {
  resize: none;
}

select {
  font-family: inherit;
  padding: 0 15px;
  border: none;
  height: 60px;
  border-left: 1px solid #eee;
  background: url(../img/down.png) no-repeat 96% 52%;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  font-size: 15px;
  color: #13506f;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1d1d1d;
}

p {
  margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: inherit;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

button {
  font-family: inherit;
}

/* Site Header */
#site-header {
  padding: 20px 8px;
  transition: all 0.4s ease 0s;
  border-bottom: 1px solid rgba(226, 226, 226, 0.3);
}
@media (min-width: 768px) {
  #site-header .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 900px) {
  #site-header .container-fluid {
    padding-right: 70px;
    padding-left: 70px;
  }
}
#site-header.nav-fixed {
  background-color: #fff !important;
  border-bottom: none;
}

/* Navbar */
@media (max-width: 991px) {
  .navbar {
    padding: 0;
  }
}
.navbar-nav .show >, .navbar-nav .nav-link.show {
  color: #7c6a6a;
}
@media (max-width: 991px) {
  .navbar-toggler {
    border: 0;
    padding: 0;
  }
  .navbar-toggler-icon {
    padding: 0;
    width: 34px;
    height: initial;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 28px;
    color: #fff;
  }
  .navbar-toggler .icon-close, .navbar-toggler.collapsed .icon-expand {
    display: block;
  }
  .navbar-toggler .icon-expand, .navbar-toggler.collapsed .icon-close {
    display: none;
  }
  .navbar-collapse {
    background-color: #fff;
    padding: 20px;
    margin-top: 16px;
    text-align: center;
  }
}
.navbar #login {
  background-color: #13506f;
  color: #fff;
}
.navbar #login:hover {
  color: #fff;
}
.navbar #signup {
  background-color: #fff;
  color: #13506f;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .navbar #signup {
    margin-left: 0;
  }
}
.navbar #login,
.navbar #signup {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}
@media (max-width: 767px) {
  .navbar #login,
.navbar #signup {
    width: 35%;
  }
}

/* Nav Fixed */
.nav-fixed .site-logo {
  content: url("../img/logo.png");
}
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: #13506f;
  opacity: 0.7;
}
.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link,
.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item .nav-link:hover {
  color: #13506f;
}
.nav-fixed .navbar-toggler-icon.fa {
  font-size: 26px;
  color: #13506f;
}
.nav-fixed .profile span {
  color: #13506f;
}
.nav-fixed .user-name .fa-user-circle-o {
  color: #13506f;
}
.nav-fixed .user-name-title {
  color: #13506f;
}
.nav-fixed .user-name-title::after {
  color: #13506f;
}

/* Navbar Expand lg */
.navbar-expand-lg .navbar-nav .nav-link {
  display: block;
  transition: all 0.5s ease;
  padding: 10px 0;
  font-size: 18px;
  color: #13506f;
  font-weight: 400;
  opacity: 0.8;
  text-align: left;
  letter-spacing: 0;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff;
  opacity: 1;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #13506f;
  }
}
@media (min-width: 768px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    letter-spacing: 0.5px;
    padding: 15px;
  }
}
@media (min-width: 900px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
  }
}
.navbar-expand-lg .navbar-nav .nav-item {
  position: relative;
  padding: 0 12px;
  transition: all 0.5s ease;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0;
  }
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #fff;
  opacity: 1;
}
@media (max-width: 600px) {
  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #13506f;
  }
}

/* User Dropdown Menu */
.dropdown-container .dropdown-content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
@media (min-width: 768px) {
  .dropdown-container .dropdown-content {
    width: 25%;
    margin-left: 170px;
  }
}
.dropdown-container .dropdown-content-item {
  padding: 30px;
}
.dropdown-container .dropdown-content-item h4 {
  color: #03506f;
  font-weight: 600;
}
.dropdown-container .dropdown-content-item a {
  display: block;
  color: #888;
  padding: 8px 3px;
  transition: all 0.3s ease-in-out;
}
.dropdown-container .dropdown-content-item a:hover {
  color: #03506f;
}
.dropdown-container .dropdown-content-item a:first-of-type {
  margin-top: 15px;
}
.dropdown-container:hover .dropdown-content, .dropdown-container:focus .dropdown-content {
  display: flex;
}

.header-relative {
  position: relative;
  top: -30px;
  left: 45px;
  display: none;
}
@media (min-width: 768px) {
  .header-relative {
    top: -25px;
    left: 80px;
    display: block;
  }
}
@media (max-width: 767px) {
  .header-relative .user-name-title {
    display: none;
  }
}

.user-name-title::after {
  content: "";
  position: absolute;
  right: 0;
  display: inline-block;
  font-family: "FontAwesome";
  transition: 0.2s;
  transform: rotate(0deg);
  margin-left: 6px;
  color: #fff;
  padding: 0 5px;
}

.user-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  top: 9px;
  padding-left: 30px;
  padding-right: 22px;
  margin-left: 25px;
}
.user-menu .user-name {
  transition: 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px;
  color: #fff;
}
.user-menu .user-name span {
  display: inline-block;
  position: absolute;
  left: -25px;
  top: -7px;
  width: 32px;
  font-size: 27px;
  margin-top: 1px;
  margin-right: 10px;
  border-radius: 50%;
}
.user-menu .user-name span img {
  width: 100%;
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
}
.user-menu ul {
  position: absolute;
  top: 55px;
  right: 19px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 200px;
  font-size: 1rem;
  transform: translate3d(0, 15px, 0);
  padding: 10px;
  transition: 0.25s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
@media (min-width: 768px) {
  .user-menu ul {
    right: 18px;
  }
}
.user-menu ul::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  border: 7px solid #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.user-menu ul li {
  padding: 6px 8px;
}
.user-menu ul li:not(:first-child) {
  border-top: 1px solid rgba(3, 80, 111, 0.1);
}
.user-menu ul li a {
  padding: 2px 0;
  display: block;
  color: #13506f;
  transition: 0.2s;
}
.user-menu.active ul {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  background-color: #fff;
}
.user-menu.active .user-name-title::after {
  transform: rotate(180deg);
}

.site-logo {
  max-width: 60px;
}
@media (min-width: 768px) {
  .site-logo {
    max-width: 80px;
  }
}

#movetop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  width: 46px;
  height: 46px;
  background-color: #fff;
  color: #13506f;
  box-shadow: 0 11px 30px 0 rgba(51, 51, 51, 0.15);
  padding: 0;
  line-height: 36px;
  border-radius: 50px;
  transition: all 0.3s ease-out;
}

.footer-section {
  background: #13506f;
  padding-top: 70px;
}

.fs-about {
  margin-bottom: 30px;
}
.fs-about .fs-logo {
  margin-bottom: 20px;
}
.fs-about .fs-logo a {
  display: inline-block;
  font-size: 30px;
  color: #fff;
}
.fs-about p {
  color: #fff;
  line-height: 27px;
  opacity: 0.6;
  margin-bottom: 25px;
}
.fs-about .fs-social a {
  display: inline-block;
  font-size: 1.15rem;
  color: #03506f;
  height: 40px;
  width: 40px;
  background: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.fs-about .fs-social a:not(:last-child) {
  margin-right: 1rem;
}

.fs-widget {
  margin-bottom: 30px;
}
.fs-widget h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.85rem;
}
.fs-widget .footer-item,
.fs-widget .footer-link {
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
  line-height: 30px;
}
.fs-widget p {
  color: #fff;
  opacity: 0.6;
}

.copyright-text {
  display: block;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: 0.6;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px 0;
}
@media (min-width: 768px) {
  .copyright-text {
    margin-top: 40px;
  }
}

.text-primary {
  color: #13506f !important;
}

.bg-primary {
  background-color: #13506f !important;
}

.btn-primary {
  background-color: #13506f;
  border-color: #13506f;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #176389;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
}
.btn-primary.focus {
  background-color: #13506f;
  border-color: #13506f;
  color: #fff;
}

.btn-outline-primary {
  color: #13506f;
  border-color: #13506f;
}
.btn-outline-primary:hover {
  background-color: #13506f;
  border-color: #13506f;
  color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #13506f;
  border-color: #13506f;
  color: #fff;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
}
.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 10;
  border-style: solid;
  border-width: 4px;
  border-top-color: #13506f;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #ffffff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.preloader .preloader-img {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.preloader .preloader-img img {
  max-width: 55px;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
.c-red {
  background-color: #d41800 !important;
}

.c-magenta {
  background: #103230 !important;
}

/* MARGINS */
.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .mx-20 {
    margin: 0 20px;
  }
}
/* PADDINGS */
.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

/* FONT SIZES */
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 1rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-20 {
  font-size: 1.25rem;
}

/* FONT WEIGHTS */
.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

/* LABEL COLORS */
.label-success {
  background-color: #00c292;
}
.label-danger {
  background-color: #e46a76;
}
.label-warning {
  background-color: #fec107;
}

.img-circle {
  border-radius: 100%;
}

.shadow-xxs-1 {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
}

.section-title {
  margin-bottom: 40px;
  color: #13506f;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 20px;
}
.section-title::after {
  content: "";
  background-color: #13506f;
  position: absolute;
  left: 0;
  top: -5px;
  width: 4px;
  height: 40px;
}

.set-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-area {
  background-image: url("../img/pexels-david-mcbee-1546166.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  min-height: 750px;
  position: relative;
}
.hero-area::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-area .hero-content {
  position: relative;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.hero-area .hero-content .hero-title {
  font-size: 1.875rem;
}
@media (min-width: 768px) {
  .hero-area .hero-content .hero-title {
    font-size: 2.8125rem;
  }
}
@media (min-width: 900px) {
  .hero-area .hero-content .hero-title {
    font-size: 3.44rem;
  }
}

.home-nav {
  margin-bottom: 1.56rem;
}
.home-nav-item {
  display: inline-block;
  font-size: 1rem;
  height: 1.875rem;
}
.home-nav-item:not(:last-child) {
  margin-right: 2.5rem;
}
.home-nav-link {
  border-color: #13506f;
  border-bottom: 3px solid transparent;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding: 0.45rem;
}
.home-nav-link.active, .home-nav-link:hover {
  border-color: #13506f;
}

.property-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 15px 25px 45px;
}
@media (min-width: 900px) {
  .property-form {
    width: 1000px;
    margin: 0 0 45px;
  }
}
.property-form .btn-search {
  text-align: center;
  background-color: #13506f;
  color: #fff;
  font-size: 1.1875rem;
  font-weight: 600;
  height: 60px;
  width: 100%;
}
@media (min-width: 768px) {
  .property-form .btn-search {
    width: 25%;
  }
}
.property-form .btn-search:hover {
  color: #fff;
}

span.input-group-btn {
  background-color: #fff;
  width: 100%;
}
@media (min-width: 768px) {
  span.input-group-btn {
    width: 33%;
  }
}

.property-section {
  padding-bottom: 60px;
}
.property-section .property-item {
  margin-bottom: 40px;
}
.property-section .property-item .pi-pic {
  height: 240px;
  position: relative;
}
.property-section .property-item .pi-pic .label {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px 2px;
  background-color: #0166d0;
  color: #fff;
}
.property-section .pi-text {
  position: relative;
  background-color: #fff;
  padding: 22px;
  height: 200px;
}
.property-section .pi-text .pt-price {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  color: #13506f;
  margin-bottom: 10px;
}
.property-section .pi-text .pt-price span {
  color: #1d1d1d;
  font-size: 0.875rem;
}
.property-section .pi-text h5 {
  margin-bottom: 6px;
}
.property-section .pi-text h5 a {
  color: #1d1d1d;
  font-size: 1.25rem;
  font-weight: 700;
}
.property-section .pi-text p {
  font-weight: 500;
  margin-top: 10px;
}
.property-section .pi-text p span {
  color: #13506f;
}

.heart-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #13506f;
  text-align: center;
  font-weight: 700;
  font-size: 1.44rem;
  padding: 5px;
}
.heart-icon .tip-content {
  position: absolute;
  top: -20px;
  left: -9px;
  z-index: 99;
  background-color: #13506f;
  color: #fff;
  padding: 5px 12px;
  font-size: 13px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out 0.05s;
}
.heart-icon:hover, .heart-icon:focus {
  color: #13506f;
}
.heart-icon:hover .tip-content, .heart-icon:focus .tip-content {
  opacity: 1;
  visibility: visible;
}

.who-section {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #13506f;
  background-blend-mode: darken;
  padding: 60px 0;
}

.who-text {
  margin-bottom: 40px;
}
.who-text p {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.7;
}

.who-features .who-item {
  width: calc(50% - 40px);
  float: left;
  margin-right: 40px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .who-features .who-item {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .who-features .who-item {
    width: 100%;
  }
}
.who-features .who-item:nth-child(3) {
  clear: left;
}
.who-features .who-item .who-pic {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  float: left;
  margin-right: 20px;
}
.who-features .who-item .who-text {
  overflow: hidden;
}
.who-features .who-item .who-text h5 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.who-features .who-item .who-text p {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
}

.who-icon {
  fill: #13506f;
  width: 45px;
}

.locations {
  padding-top: 10px;
  margin: 50px 30px;
}

.cs-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  height: 200px;
}
@media (min-width: 768px) {
  .cs-item {
    height: 300px;
  }
}
.cs-item .cs-text {
  width: 170px;
  background-color: #fff;
  text-align: center;
  padding: 18px 0;
}
.cs-item .cs-text h5 {
  color: #1d1d1d;
  font-weight: 700;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.cs-item .cs-text span {
  display: block;
  color: #333;
  font-size: 12px;
  font-weight: 500;
}

.stats {
  padding: 80px 0;
  background-image: url("../img/stats.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 90px;
  position: relative;
}
.stats::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.stats .row {
  position: relative;
  z-index: 99;
}
.stats-num {
  display: block;
  font-size: 3.125rem;
  font-weight: 700;
}
.stats-text {
  font-size: 1.1875rem;
  opacity: 0.8;
}

.currency-converter {
  margin: 80px auto;
}
.currency-converter .card .card-header h1 {
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  .currency-converter .card .card-header h1 {
    font-size: 42px;
  }
}
.currency-converter #result {
  color: #13506f;
  font-size: 2.625rem;
  font-weight: 700;
}

.fa-exchange {
  transform: rotate(90deg);
}
@media (min-width: 900px) {
  .fa-exchange {
    transform: rotate(0deg);
  }
}

@media (min-width: 900px) {
  .currency-wrapper {
    width: 65%;
  }
}

.curr-input {
  padding: 10px;
  height: auto;
}
@media (min-width: 900px) {
  .curr-input {
    width: 300px;
  }
}

.hero-card {
  position: relative;
  font-size: 16px;
  height: 500px;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .hero-card {
    margin: 20px;
  }
}
.hero-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .hero-card .card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    padding: 7px;
    transform: translate(0, 0);
  }
  .hero-card .card-content h2 {
    color: #fff;
  }
  .hero-card .card-content::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
.hero-card .card-content p {
  color: #1d1d1d;
  font-size: 1.1875rem;
  margin: 24px 0;
}
@media (max-width: 767px) {
  .hero-card .card-content p {
    color: #fff;
  }
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #bbb;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.hero-img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-card.img-left .card-content {
    left: 75%;
  }

  .hero-card.img-right .card-content {
    left: 25%;
  }

  .hero-card.img-left .card-content,
.hero-card.img-right .card-content {
    width: 50%;
    padding: 0 50px;
  }

  .hero-card.img-left .hero-img {
    right: 50%;
  }

  .hero-card.img-right .hero-img {
    left: 50%;
  }
}
.filter-option-inner-inner {
  font-size: 0.95rem;
  font-weight: 700;
}

.input-group-text {
  font-size: 0.825rem;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.bootstrap-select .dropdown-menu.inner {
  padding: 18px 0;
}

.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  background-color: #fafafa;
  color: #13506f;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0 !important;
}

.dropdown-menu {
  border: 0;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.15);
  padding: 0;
}

.dropdown-item {
  padding: 0.55rem 1.5rem;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #13506f;
}

.dropdown-toggle.focus,
.dropdown-toggle:focus {
  outline: 0;
  box-shadow: none;
}

.dropdown-toggle::after {
  content: "";
  font-family: "FontAwesome";
  font-weight: 300;
  border: 0;
  vertical-align: 0;
  margin-left: 20px;
}

.dropup .dropdown-toggle::after {
  content: "";
  font-family: "FontAwesome";
  font-weight: 300;
  border: 0;
  vertical-align: 0;
  margin-left: 20px;
}

ul.page-pagination li {
  display: inline-block;
}
ul.page-pagination li:not(:last-child) {
  margin-right: 13px;
}
ul.page-pagination li a.page-numbers,
ul.page-pagination li a.next {
  display: block;
  padding: 10px 18px;
  background-color: #fff;
  border-radius: 50px;
  font-weight: 700;
  color: #13506f;
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
ul.page-pagination li a.page-numbers:hover,
ul.page-pagination li a.next:hover {
  background-color: #13506f;
  color: #fff;
}
ul.page-pagination li span.current {
  display: block;
  padding: 10px 18px;
  color: #fff;
  border: 1px solid #13506f;
  border-radius: 50px;
  font-weight: 700;
  background-color: #03506f;
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}

.home {
  position: relative;
  min-height: 600px;
}
.home::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner-info {
  position: absolute;
  top: 120px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 25px;
  z-index: 9;
}
@media (min-width: 768px) {
  .banner-info {
    top: 200px;
    padding: 30px 80px;
  }
}
.banner-info h1,
.banner-info p,
.banner-info small {
  color: #fff;
}
.banner-info h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .banner-info h1 {
    font-size: 42px;
  }
}
.banner-info p {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
  margin-bottom: 1.5em;
}
.banner-info small {
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.slideshow-container {
  padding: 20px;
}
@media (min-width: 768px) {
  .slideshow-container {
    padding: 0;
  }
}

.mySlides {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  animation-name: fade;
  animation-duration: 1.5s;
}
@media (min-width: 768px) {
  .mySlides {
    flex-wrap: nowrap;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slide-details {
  width: 100%;
  padding: 25px;
}
@media (min-width: 768px) {
  .slide-details {
    margin-left: 80px;
  }
}
.slide-details h1 {
  color: #13506f;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .slide-details h1 {
    font-size: 2.4rem;
  }
}
.slide-details p {
  font-size: 1.1rem;
  color: #13506f;
}

.custom-direction {
  background: #13506f;
  position: relative;
  z-index: 99;
  border-radius: 7px;
  position: absolute;
  right: -50px;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
@media (max-width: 992px) {
  .custom-direction {
    bottom: -25px;
    top: auto !important;
    right: 50% !important;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
  }
}
.custom-direction a {
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
}

.haveAproject {
  background-image: url("../img/insurance.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 64px 69px 54px 78px;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 767px) {
  .haveAproject {
    padding: 42px 19px 36px 30px;
  }
}
.haveAproject::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  opacity: 0.9;
  background-image: -moz-linear-gradient(0deg, #13506f 0%, #1d1d1d 100%);
  background-image: -webkit-linear-gradient(0deg, #13506f 0%, #1d1d1d 100%);
  background-image: -ms-linear-gradient(0deg, #13506f 0%, #1d1d1d 100%);
}
.haveAproject .wantToWork-caption h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 13px;
}
@media (max-width: 767px) {
  .haveAproject .wantToWork-caption h2 {
    margin-bottom: 18px;
    font-size: 31px;
  }
}
.haveAproject .wantToWork-caption p {
  font-size: 18px;
}
@media (max-width: 767px) {
  .haveAproject .wantToWork-caption p {
    margin-bottom: 30px;
    font-size: 15px;
  }
}

.property-details-section {
  margin-top: 130px;
  padding-bottom: 25px;
}

.pd-title {
  position: relative;
  margin-bottom: 30px;
}
.pd-title label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px 2px;
  display: inline-block;
  background-color: #0166d0;
  color: #fff;
  margin-right: 10px;
}
.pd-title h3 {
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 1rem 0;
}
@media (max-width: 600px) {
  .pd-title h3 {
    font-size: 25px;
  }
}
.pd-title p {
  font-weight: 500;
}
.pd-title .pt-price {
  color: #13506f;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}

.pd-board {
  margin-bottom: 65px;
}
.pd-board .nav-tabs {
  background-color: #13506f;
  border-bottom: none;
}
.pd-board .nav-tabs .nav-item {
  margin-bottom: 0;
}
.pd-board .nav-tabs .nav-item a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 14px 30px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.pd-board .nav-tabs .nav-item a.active {
  color: #13506f;
}
.pd-board .tab-content .tab-details {
  border: 1px solid #e1e1e1;
  border-top: none;
  overflow: hidden;
}
.pd-board .tab-content .tab-details .left-table {
  border: 1px solid rgba(19, 80, 111, 0.4);
}
.pd-board .tab-content .tab-details ul li {
  font-size: 14px;
  padding: 15px 0;
  padding-left: 30px;
}
.pd-board .tab-content .tab-details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(19, 80, 111, 0.4);
}
.pd-board .tab-content .tab-details ul li .type-name {
  display: inline-block;
  color: #13506f;
  width: 148px;
  font-weight: 600;
}
.pd-board .tab-content .tab-details ul li .type-value {
  display: inline-block;
  color: #1d1d1d;
}
.pd-board .tab-content .tab-desc {
  border: 1px solid rgba(19, 80, 111, 0.4);
  overflow: hidden;
  border-top: none;
  padding: 20px;
}
.pd-board .tab-content .tab-desc p {
  color: #222;
}

.pd-widget {
  margin-bottom: 65px;
}
.pd-widget h4 {
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 35px;
}
.pd-widget .map {
  height: 350px;
}
.pd-widget .map iframe {
  width: 100%;
}

.property-sidebar .single-sidebar {
  margin-bottom: 68px;
}
.property-sidebar .single-sidebar.slider-op {
  margin-bottom: 60px;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots {
  padding-top: 6px;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots button {
  height: 5px;
  width: 20px;
  background-color: #d7d7d7;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots button:not(:last-child) {
  margin-right: 10px;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots button.active {
  background: #13506f;
}
.property-sidebar .single-sidebar .sf-slider .link:hover {
  color: #13506f;
}
.property-sidebar .single-sidebar .sf-slider .sf-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.property-sidebar .single-sidebar .sf-slider .sf-item .sf-text {
  background: #fff;
  text-align: center;
  padding: 16px 30px 15px;
}
.property-sidebar .single-sidebar .sf-slider .sf-item .sf-text h5 {
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.btn-calculate {
  background-color: #13506f;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 30px;
  width: 100%;
}

.calculator-form input {
  height: 46px;
}
.calculator-form textarea {
  resize: none;
  height: 150px;
}
.calculator-form input,
.calculator-form textarea {
  background-color: #fff;
  border: 1px solid #ededed;
  width: 100%;
  padding-left: 14px;
  color: #666;
  opacity: 0.6;
}
.calculator-form .filter-input {
  margin-bottom: 15px;
}
.calculator-form .filter-input p {
  color: #13506f;
  margin-bottom: 8px;
  font-weight: 500;
}

.hs-slider {
  margin-top: 150px;
}
.hs-slider .hs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
@media only screen and (max-width: 767px) {
  .hs-slider .hs-item {
    height: auto;
    padding: 113px 15px;
  }
}
.hs-slider .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hs-slider.owl-carousel .owl-nav button {
  height: 50px;
  width: 50px;
  background-color: #13506f;
  border-radius: 50%;
  line-height: 58px;
  font-size: 26px;
  color: #fff;
  position: absolute;
}
@media (max-width: 767px) {
  .hs-slider.owl-carousel .owl-nav button {
    height: 40px;
    width: 40px;
    line-height: 48px;
  }
}
.hs-slider.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}
@media (max-width: 767px) {
  .hs-slider.owl-carousel .owl-nav button.owl-prev {
    left: -10px;
  }
}
.hs-slider.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}
@media (max-width: 767px) {
  .hs-slider.owl-carousel .owl-nav button.owl-next {
    right: -10px;
  }
}

input.parsley-error {
  border: 1px solid #ff7b54;
}
input.parsley-error:focus {
  border: 1px solid #ff7b54;
}

.parsley-required,
.parsley-pattern,
.parsley-type,
.parsley-length {
  color: #ff0000;
  font-weight: 500;
  margin-top: 10px;
}

.form-bg {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #13506f;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.form-container {
  width: 600px;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 47px;
  padding-bottom: 30px;
}

.px {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .px {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.form-title {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 30px;
  color: #13506f;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-title {
    font-size: 1.44rem;
  }
}

.input-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 16px;
}

.input100:focus + .focus-input100 {
  animation: shadow 0.5s ease-in-out forwards;
  -webkit-animation: shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes shadow {
  to {
    box-shadow: 0 0 60px 20px;
    opacity: 0;
  }
}
@keyframes shadow {
  to {
    box-shadow: 0 0 60px 20px;
    opacity: 0;
  }
}
.input100 {
  border: 0;
  background-color: #f7f2f2;
  color: #686868;
  width: 100%;
  height: 62px;
  font-size: 1.125rem;
  padding: 0 30px 0 65px;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #13506f;
  padding-left: 18px;
}

.focus-input100 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: rgba(211, 63, 141, 0.6);
}

.symbol-input100 {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  color: #999;
  border-radius: 25px;
  padding-left: 21px;
  pointer-events: none;
  transition: all 0.4s;
}

.container-form-btn {
  padding-top: 25px;
  width: 100%;
}

.txt {
  color: #13506f;
  font-size: 16px;
  line-height: 1.4;
}
@media (max-width: 600px) {
  .txt {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .txt {
    padding: 22px 0;
  }
}

/*# sourceMappingURL=main.css.map */
