.simple-sidebar {
    border-radius: 0.4rem;
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .simple-sidebar {
        border: 1px solid #e6eaf1;
    }
}

.search-sidebar_header {
    display: none;
    position: relative;
    width: 100%;
    height: 3rem;
    padding: 0 0 0.5rem;
    background-color: #fff;
    border-bottom: 1px solid #dfe4ec;
    margin-bottom: 1rem;
}

.single_search_boxed:first-child {
    border-top: none;
}

.single_search_boxed {
    padding: 0;
    border-top: 1px solid #eef0f5;
    display: inline-block;
    width: 100%;
}

.property-listing {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
    -webkit-box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
}

.property-listing.property-2 .listing-img-wrapper {
    overflow: hidden;
    position: relative;
    min-height: 240px;
    max-height: 240px;
}

.property-listing.property-2 .listing-detail-wrapper {
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.listing-short-detail-wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.property-listing.property-2 .listing-short-detail {
    flex: 1;
}

.property-type {
    font-size: 14px;
    margin: 0;
}

.property-listing.property-2 .listing-name {
    font-size: 16px;
    position: relative;
    margin-bottom: 0;
    font-weight: 600;
}

.listing-card-info-price {
    font-weight: 600;
    position: relative;
    font-size: 22px;
    color: #08184b;
    line-height: 1.4;
    padding-left: 0.35em;
}

.price-features-wrapper {
    padding: 0.1rem 1.5rem 0.6rem;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1199px) {
    .price-features-wrapper {
        padding: 0.1rem 1rem 0.6rem;
    }
}

.list-fx-features {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.listing-card-info-icon {
    display: inline-block;
    padding-left: 0;
    position: relative;
    vertical-align: top;
    width: 33.333333%;
    flex: 0 0 33.333333%;
    margin-bottom: 0;
    color: #616e96;
    font-weight: 600;
}

@media (max-width: 1199px) {
    .listing-card-info-icon {
        margin-right: 0.7rem;
        font-size: 12px;
    }
}

.inc-fleat-icon {
    width: 25px;
    height: 25px;
    background: #edf1f9;
    border-radius: 50%;
    margin-right: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.listing-detail-footer {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-top: 1px solid #e4e8f3;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    min-height: 60px;
    max-height: 60px;
}

.footer-first {
    flex: 1;
}

.foot-location img {
    margin-right: 5px;
    float: left;
}

.footer-flex .prt-view {
    padding: 4px 18px;
    color: #fff !important;
    background: #13506f;
    border-radius: 50px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1199px) {
    .property-listing.property-2 .listing-detail-wrapper {
        padding: 1rem 1rem;
    }
}

.pagination li:first-child .page-link {
    border-color: #13506f;
    background-color: #13506f;
    color: #fff;
}

.pagination li:nth-child(2) .page-link {
    margin-left: 15px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #13506f;
    border-color: #13506f;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.pagination li:last-child a {
    background-color: #13506f;
    border: 1px solid #13506f;
    border-radius: 2px;
    color: #fff;
    margin-left: 15px;
}

@media (max-width: 991px) {
    .sm-sidebar {
        height: 100%;
        max-width: 300px;
        min-width: 310px;
        position: fixed !important;
        top: 0;
        z-index: +2000;
        overflow: auto;
        position: relative;
        animation: animateleft 0.4s;
        left: 0;
        display: none;
        border-radius: 0;
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@media (max-width: 991px) {
    .search-sidebar_header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
}

.simple-sidebar button.ml-auto {
    background: #fff;
    border: none !important;
    cursor: pointer;
    outline: 0 !important;
    color: #465169;
}
