.eoEmii {
    max-width: 460px;
    position: relative;
    width: 100%;
}

@media (min-width: 1024px) {
    .eoEmii {
        max-width: 620px;
    }
}

@media (min-width: 1356px) {
    .eoEmii {
        max-width: 1042px;
        flex-direction: row;
    }
}

.fDAltQ {
    display: flex;
    align-items: flex-start;
}

@media (min-width: 1356px) {
    .fDAltQ {
        min-width: 1048px;
        align-items: flex-start;
    }
}

@media (min-width: 1024px) {
    .fDAltQ {
        -webkit-box-align: center;
        align-items: center;
    }
}

.tab {
    display: none;
}

.imgGLz {
    padding: 4px 8px 4px 0px;
}

.dBErRv {
    position: relative;
    flex: 0 0 40px;
    -webkit-box-flex: 0;
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
}

.gaFTkU {
    font-weight: 700;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: #13506f;
    font-size: 24px;
}

@media (min-width: 1356px) {
    .iUKXce.iUKXce {
        font-size: 56px;
        line-height: 64px;
    }
}

.iUKXce.iUKXce {
    margin: 0px;
}

@media (min-width: 768px) {
    .bWahQn {
        font-size: 32px;
        line-height: 40px;
    }
}

.hDcKrI {
    text-align: inherit;
    color: rgb(51, 51, 51);
    font-weight: 700;
}

@media (min-width: 1356px) {
    .bntDiv {
        margin: 32px 0px;
    }
}

@media (min-width: 1024px) {
    .bntDiv {
        margin-top: 32px;
    }
}

@media (min-width: 768px) {
    .bntDiv {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

.bntDiv {
    margin: 8px 0px;
}

@media (min-width: 768px) {
    .kTsrsI {
        font-size: 16px;
        line-height: 24px;
    }
}

.bVPpjr {
    text-align: inherit;
    color: rgb(51, 51, 51);
    font-weight: 400;
}

.eCjabz.eCjabz {
    flex-wrap: initial;
    font-size: 16px;
}

.address-form > .form-group + .form-group,
.address-form > .form-group + .container-double {
    margin-top: 40px;
}

.container-double {
    column-gap: 2.3em;
}

.error-border {
    border: 1px solid red !important;
}

.error-message {
    color: #ff0000;
    padding: 6px;
    font-size: 1rem;
    display: block;
}
