@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f9fcfb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #222;
  font-weight: 400;
  font-family: inherit;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  font-family: inherit;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

input:focus::placeholder,
input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

select {
  font-family: inherit;
  padding: 0 15px;
  border: none;
  height: 60px;
  border-left: 1px solid #eee;
  background: url(../img/down.png) no-repeat 96% 52%;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  font-size: 15px;
  color: #13506f;
  cursor: pointer;
}

textarea {
  resize: none;
}

/* Site Header */
#site-header {
  padding: 20px 8px;
  transition: all 0.4s ease 0s;
  border-bottom: 1px solid rgba(226, 226, 226, 0.3);
}
@media (min-width: 768px) {
  #site-header .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 900px) {
  #site-header .container-fluid {
    padding-right: 70px;
    padding-left: 70px;
  }
}
#site-header.nav-fixed {
  background-color: #fff !important;
  border-bottom: none;
}

/* Navbar */
@media (max-width: 991px) {
  .navbar {
    padding: 0;
  }
}
.navbar-nav .show >, .navbar-nav .nav-link.show {
  color: #7c6a6a;
}
@media (max-width: 991px) {
  .navbar-toggler {
    border: 0;
    padding: 0;
  }
  .navbar-toggler-icon {
    padding: 0;
    width: 34px;
    height: initial;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 28px;
    color: #fff;
  }
  .navbar-toggler .icon-close, .navbar-toggler.collapsed .icon-expand {
    display: block;
  }
  .navbar-toggler .icon-expand, .navbar-toggler.collapsed .icon-close {
    display: none;
  }
  .navbar-collapse {
    background-color: #fff;
    padding: 20px;
    margin-top: 16px;
    text-align: center;
  }
}

/* Nav Fixed */
.nav-fixed .site-logo {
  content: url("../img/logo.png");
}
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: #13506f;
  opacity: 0.7;
}
.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link,
.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item .nav-link:hover {
  color: #13506f;
}
.nav-fixed .navbar-toggler-icon.fa {
  font-size: 26px;
  color: #13506f;
}
.nav-fixed .profile span {
  color: #03506f;
}
.nav-fixed .user-name .fa-user-circle-o {
  color: #13506f;
}
.nav-fixed .user-name-title {
  color: #13506f;
}
.nav-fixed .user-name-title::after {
  color: #13506f;
}

/* Navbar Expand lg */
.navbar-expand-lg .navbar-nav .nav-link {
  display: block;
  transition: all 0.5s ease;
  padding: 10px 0;
  font-size: 18px;
  color: #13506f;
  font-weight: 400;
  opacity: 0.8;
  text-align: left;
  letter-spacing: 0;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff;
  opacity: 1;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #13506f;
  }
}
@media (min-width: 768px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    letter-spacing: 0.5px;
    padding: 15px;
  }
}
@media (min-width: 900px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
  }
}
.navbar-expand-lg .navbar-nav .nav-item {
  position: relative;
  padding: 0 12px;
  transition: all 0.5s ease;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0;
  }
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #fff;
  opacity: 1;
}
@media (max-width: 600px) {
  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #13506f;
  }
}

/* Profile Icon */
.profile {
  margin-left: 80px;
  margin-top: 4px;
}
@media (max-width: 320px) {
  .profile {
    margin-left: 60px;
  }
}
.profile span {
  color: #fff;
  font-size: 1.6em;
}
@media (min-width: 768px) {
  .profile {
    display: none !important;
  }
}

/* Dropdown Menu */
.dropdown-container .dropdown-content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
@media (min-width: 768px) {
  .dropdown-container .dropdown-content {
    width: 25%;
    margin-left: 170px;
  }
}
.dropdown-container .dropdown-content-item {
  padding: 30px;
}
.dropdown-container .dropdown-content-item h4 {
  color: #03506f;
  font-weight: 600;
}
.dropdown-container .dropdown-content-item a {
  display: block;
  color: #888;
  padding: 8px 3px;
  transition: all 0.3s ease-in-out;
}
.dropdown-container .dropdown-content-item a:hover {
  color: #03506f;
}
.dropdown-container .dropdown-content-item a:first-of-type {
  margin-top: 15px;
}
.dropdown-container:hover .dropdown-content, .dropdown-container:focus .dropdown-content {
  display: flex;
}

.btn-login {
  background-color: #13506f;
  color: #fff;
}
.btn-login:hover {
  color: #fff;
}

.btn-signup {
  background-color: #fff;
  color: #13506f;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .btn-signup {
    margin-left: 0;
  }
}

.btn-login,
.btn-signup {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}
@media (max-width: 767px) {
  .btn-login,
.btn-signup {
    width: 35%;
  }
}

.btn-view-all {
  background-color: #13506f;
  color: #fff;
  padding: 10px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.btn-view-all:hover {
  background-color: #fff;
  color: #13506f;
  box-shadow: 0 10px 10px -5px rgba(51, 51, 51, 0.05);
  transform: translateY(-5px);
}

.footer-section {
  background: #13506f;
  padding-top: 70px;
}

.fs-about {
  margin-bottom: 30px;
}
.fs-about .fs-logo {
  margin-bottom: 20px;
}
.fs-about .fs-logo a {
  display: inline-block;
  font-size: 30px;
  color: #fff;
}
.fs-about p {
  color: #fff;
  line-height: 27px;
  opacity: 0.6;
  margin-bottom: 25px;
}
.fs-about .fs-social a {
  display: inline-block;
  font-size: 1.15rem;
  color: #03506f;
  height: 40px;
  width: 40px;
  background: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.fs-about .fs-social a:not(:last-child) {
  margin-right: 1rem;
}

.fs-widget {
  margin-bottom: 30px;
}
.fs-widget h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.85rem;
}
.fs-widget .footer-item,
.fs-widget .footer-link {
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
  line-height: 30px;
}
.fs-widget p {
  color: #fff;
  opacity: 0.6;
}

.copyright-text {
  display: block;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: 0.6;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px 0;
}
@media (min-width: 768px) {
  .copyright-text {
    margin-top: 40px;
  }
}

.btn-primary {
  background-color: #13506f;
  border-color: #13506f;
  color: #fff;
}
.btn-primary.focus {
  background-color: #13506f;
  border-color: #13506f;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #176389;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
}

/* MARGINS */
.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

/* PADDINGS */
.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

/* TEXT COLORS */
.text-primary {
  color: #13506f !important;
}

/* BG COLORS */
.bg-primary {
  background-color: #13506f !important;
}

.bg-red {
  background-color: #d41800 !important;
}

.bg-magenta {
  background-color: #103230 !important;
}

/* FONT SIZES */
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 1rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-20 {
  font-size: 1.25rem;
}

/* FONT WEIGHTS */
.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Label Colors */
.label-success {
  background-color: #00c292;
}
.label-danger {
  background-color: #e46a76;
}
.label-warning {
  background-color: #fec107;
}

.img-circle {
  border-radius: 100%;
}

@media (min-width: 768px) {
  .mx-20 {
    margin: 0 20px;
  }
}
.hero-area {
  background-image: url("../img/pexels-david-mcbee-1546166.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-height: 750px;
  max-width: 100%;
  position: relative;
}
.hero-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-area .hero-content {
  position: relative;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.hero-area .hero-content .hero-title {
  font-size: 30px;
}
@media (min-width: 768px) {
  .hero-area .hero-content .hero-title {
    font-size: 45px;
  }
}
@media (min-width: 900px) {
  .hero-area .hero-content .hero-title {
    font-size: 55px;
  }
}

.home-nav {
  font-size: 0;
  margin-bottom: 25px;
  display: none;
}
@media (min-width: 768px) {
  .home-nav {
    display: block;
  }
}
@media (min-width: 768px) {
  .home-nav-list {
    padding: 0 45px;
    text-align: center;
  }
}
.home-nav-item {
  font-size: 1rem;
  display: inline-block;
  height: 30px;
  margin-right: 40px;
}
.home-nav-link {
  border-color: #13506f;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  padding: 6px;
  border-bottom: 3px solid transparent;
}
.home-nav-link.active, .home-nav-link:hover {
  border-color: #13506f;
}

.property-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 15px 25px 45px;
}
@media (min-width: 900px) {
  .property-form {
    width: 1000px;
    margin: 0 0 45px;
  }
}
.property-form .btn-search {
  background-color: #13506f;
  text-align: center;
  color: #fff;
  font-size: 19px;
  padding: 0;
  height: 60px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  width: 100%;
  font-weight: 600;
}
.property-form .btn-search:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .property-form .btn-search {
    width: 20%;
  }
}

span.input-group-btn {
  background: #fff;
  width: 100%;
}
@media (min-width: 768px) {
  span.input-group-btn {
    width: 33%;
  }
}

.more-option {
  width: 100%;
  text-align: left;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .more-option {
    width: 1080px;
  }
}
.more-option .card {
  border: none;
  border-radius: 0;
  background: transparent;
}
.more-option .card-heading {
  padding-left: 34px;
}
.more-option .card-heading a {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.more-option .card-heading a::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background: #13506f;
  line-height: 20px;
  text-align: center;
}

.select-bg {
  background-color: #fff;
  width: 100%;
}
@media (min-width: 768px) {
  .select-bg {
    width: 32%;
  }
}

input.parsley-error {
  border: 1px solid #ff7b54;
}
input.parsley-error:focus {
  border: 1px solid #ff7b54;
}

.parsley-required,
.parsley-pattern,
.parsley-type,
.parsley-length {
  color: #ff0000;
  margin-top: 10px;
  font-weight: 500;
}

.logo {
  font-size: 32px;
}
.logo a {
  color: #13506f;
  font-weight: 700;
}

.form-bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #13506f;
  position: relative;
  z-index: 1;
}

.form-container {
  width: 600px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 47px;
  padding-bottom: 30px;
}

.px {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .px {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.form-title {
  font-size: 1rem;
  padding-bottom: 30px;
  color: #13506f;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 500;
}
@media (min-width: 768px) {
  .form-title {
    font-size: 23px;
    padding-bottom: 40px;
    font-weight: 400;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 16px;
}

.input100:focus + .focus-input100 {
  animation: shadow 0.5s ease-in-out forwards;
  -webkit-animation: shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes shadow {
  to {
    box-shadow: 0 0 60px 20px;
    opacity: 0;
  }
}
@keyframes shadow {
  to {
    box-shadow: 0 0 60px 20px;
    opacity: 0;
  }
}
.input100 {
  font-size: 18px;
  line-height: 1.2;
  color: #686868;
  display: block;
  width: 100%;
  background-color: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  border: 0;
  padding: 0 30px 0 65px;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #13506f;
  padding-left: 18px;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: rgba(211, 63, 141, 0.6);
}

.symbol-input100 {
  font-size: 20px;
  color: #999;
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  padding-left: 21px;
  pointer-events: none;
  transition: all 0.4s;
}

.container-form-btn {
  padding-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-btn {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 62px;
  border: 0;
  border-radius: 3px;
  background-color: #13506f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
}
.form-btn:hover {
  background-color: #0b7ba9;
  color: #fff;
}

.txt {
  font-size: 16px;
  color: #13506f;
  line-height: 1.4;
}
@media (max-width: 600px) {
  .txt {
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .txt {
    padding: 22px 0;
  }
}

.categories-section {
  padding-top: 10px;
}

.cs-item {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .cs-item {
    height: 300px;
  }
}
.cs-item .cs-text {
  width: 170px;
  background-color: #fff;
  text-align: center;
  padding: 18px 0;
}
.cs-item .cs-text h5 {
  font-weight: 700;
  color: #1d1d1d;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.cs-item .cs-text span {
  display: block;
  font-size: 12px;
  color: #333;
  font-weight: 500;
}

.header-relative {
  position: relative;
  top: -30px;
  left: 45px;
}
@media (min-width: 768px) {
  .header-relative {
    top: -25px;
    left: 80px;
  }
}

@media (max-width: 768px) {
  .header-relative .user-name-title {
    display: none;
  }
}
.user-name-title::after {
  content: "";
  position: absolute;
  right: 0;
  display: inline-block;
  font-family: "FontAwesome";
  transition: 0.2s;
  transform: rotate(0deg);
  margin-left: 6px;
  color: #fff;
  padding: 0 5px;
}

.user-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  top: 9px;
  padding-left: 30px;
  padding-right: 22px;
  margin-left: 25px;
}
.user-menu .user-name {
  transition: 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px;
  color: #fff;
}
@media (min-width: 768px) {
  .user-menu .user-name {
    margin-top: 5px;
  }
}
.user-menu .user-name span {
  display: inline-block;
  position: absolute;
  left: -25px;
  top: -7px;
  width: 32px;
  font-size: 27px;
  margin-top: 1px;
  margin-right: 10px;
  border-radius: 50%;
}
.user-menu .user-name span img {
  width: 100%;
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
}
.user-menu ul {
  position: absolute;
  top: 55px;
  right: 19px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 200px;
  font-size: 1rem;
  transform: translate3d(0, 15px, 0);
  padding: 10px;
  transition: 0.25s;
  visibility: hidden;
  opacity: 0;
  z-index: 110;
}
@media (min-width: 768px) {
  .user-menu ul {
    right: 18px;
  }
}
.user-menu ul::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  border: 7px solid #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.user-menu ul li {
  padding: 6px 8px;
}
.user-menu ul li:not(:first-child) {
  border-top: 1px solid rgba(3, 80, 111, 0.1);
}
.user-menu ul li a {
  padding: 2px 0;
  display: block;
  color: #13506f;
  transition: 0.2s;
}

.user-menu.active ul {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  background-color: #fff;
}
.user-menu.active .user-name-title::after {
  transform: rotate(180deg);
}

.property-section {
  padding-bottom: 60px;
}
.property-section.profile-page {
  padding-top: 50px;
}

.property-item {
  margin-bottom: 40px;
}
.property-item .pi-pic {
  height: 240px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.property-item .pi-pic .label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px 2px;
  display: inline-block;
  background-color: #0166d0;
  color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
}

.pi-text {
  position: relative;
  background-color: #fff;
  padding: 22px;
  height: 178px;
}
.pi-text .pt-price {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  color: #13506f;
  margin-bottom: 10px;
}
.pi-text .pt-price span {
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 400;
}
.pi-text h5 {
  margin-bottom: 6px;
}
.pi-text h5 a {
  font-size: 20px;
  font-weight: 700;
  color: #1d1d1d;
  font-family: "Montserrat", sans-serif;
}
.pi-text p {
  font-weight: 500;
  margin-top: 10px;
}
.pi-text p span {
  color: #13506f;
}
.pi-text ul {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.pi-text ul li {
  font-size: 15px;
  color: #1d1d1d;
  font-weight: 600;
  list-style: none;
  display: inline-block;
  margin-right: 45px;
}
.pi-text ul li:last-child {
  margin-right: 0;
}
.pi-text ul li i {
  font-size: 14px;
  color: #666;
  margin-right: 5px;
}

.chooseus-section {
  padding: 60px 0;
}

.chooseus-text {
  margin-bottom: 40px;
}
.chooseus-text .section-title {
  margin-bottom: 24px;
}
.chooseus-text .section-title h4 {
  color: #fff;
}
.chooseus-text p {
  color: #fff;
  opacity: 0.7;
  font-size: 1.05rem;
  font-weight: 300;
}

.chooseus-features {
  overflow: hidden;
}
.chooseus-features .cf-item {
  width: calc(50% - 40px);
  float: left;
  margin-right: 40px;
  margin-bottom: 35px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .chooseus-features .cf-item {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
.chooseus-features .cf-item .cf-pic {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  float: left;
  margin-right: 20px;
}
.chooseus-features .cf-item .cf-text {
  overflow: hidden;
}
.chooseus-features .cf-item .cf-text h5 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.chooseus-features .cf-item .cf-text p {
  margin-bottom: 0;
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
}

#movetop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 46px;
  height: 46px;
  background-color: #fff;
  box-shadow: 0 11px 30px 0 rgba(51, 51, 51, 0.15);
  color: #13506f;
  padding: 0;
  line-height: 36px;
  border-radius: 50px;
  transition: all 0.3s ease-out;
}

.set-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.who {
  background-color: #13506f;
  background-blend-mode: darken;
}

.site-logo {
  max-width: 60px;
}
@media (min-width: 768px) {
  .site-logo {
    max-width: 80px;
  }
}

.section-title {
  margin-bottom: 40px;
}
.section-title h4,
.section-title h5,
.section-title h6 {
  color: #13506f;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 20px;
}
.section-title h4:after,
.section-title h5:after,
.section-title h6:after {
  position: absolute;
  left: 0;
  top: -5px;
  width: 4px;
  height: 40px;
  background-color: #13506f;
  content: "";
}

.explore {
  color: #13506f;
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 768px) {
  .explore {
    font-size: 40px;
  }
}

.stats {
  padding: 75px 0;
  background-image: url("../img/stats.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 90px;
  position: relative;
}
.stats::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.stats .row {
  position: relative;
  z-index: 99;
}
.stats-num {
  display: block;
  font-size: 50px;
  font-weight: 700;
}
.stats-text {
  font-size: 19px;
  opacity: 0.8;
}

.slideshow-container {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}
@media (min-width: 768px) {
  .slideshow-container {
    padding: 0;
  }
}

.mySlides {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  animation-name: fade;
  animation-duration: 1.5s;
}
@media (min-width: 768px) {
  .mySlides {
    flex-wrap: nowrap;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slide-details {
  width: 100%;
  text-align: center;
  padding: 25px;
}
@media (min-width: 768px) {
  .slide-details {
    margin-left: 80px;
  }
}
.slide-details h1 {
  color: #13506f;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .slide-details h1 {
    font-size: 2.4rem;
  }
}
.slide-details p {
  font-size: 1.1rem;
  color: #13506f;
}

.free-home-insurance {
  background-image: url(../img/insurance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  width: 100%;
  margin-top: 90px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.free-home-insurance::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1;
}
.free-home-insurance button {
  border: 2px solid #13506f;
  font-size: 20px;
  width: 180px;
}
.free-home-insurance button:hover {
  background-color: initial;
  border: 2px solid #fff;
  color: #fff;
}

.fa-exchange {
  transform: rotate(90deg);
}
@media (min-width: 900px) {
  .fa-exchange {
    transform: rotate(0deg);
  }
}

.currency-converter {
  margin: 80px auto;
}
.currency-converter .card .card-header h1 {
  font-size: 28px;
}
@media (min-width: 768px) {
  .currency-converter .card .card-header h1 {
    font-size: 42px;
  }
}
.currency-converter #result {
  font-size: 20px;
  font-weight: 700;
  color: #13506f;
}

.currency-wrapper {
  width: 100%;
}
@media (min-width: 900px) {
  .currency-wrapper {
    width: 65%;
  }
}

.curr-input {
  width: 100%;
  padding: 10px;
  max-width: 100%;
  height: auto;
}
@media (min-width: 900px) {
  .curr-input {
    width: 300px;
  }
}

.heart-icon {
  color: #13506f;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-weight: 700;
  font-size: 23px;
  padding: 5px;
  text-align: center;
}
.heart-icon .tip-content {
  position: absolute;
  background-color: #13506f;
  color: #fff;
  padding: 5px 12px;
  font-size: 13px;
  border-radius: 3px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  top: -20px;
  left: -9px;
  transition: 0.2s ease-in-out 0.05s;
}
.heart-icon:hover, .heart-icon:focus {
  color: #13506f;
}
.heart-icon:hover .tip-content, .heart-icon:focus .tip-content {
  opacity: 1;
  visibility: visible;
}

.filter-option-inner-inner {
  font-size: 0.95rem;
  font-weight: 700;
}

.input-group-text {
  font-size: 0.825rem;
}

.shadow-xxs-1 {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.bootstrap-select .dropdown-menu.inner {
  padding: 18px 0;
}

.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  background-color: #fafafa;
  color: #13506f;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0 !important;
}

.dropdown-menu {
  border: 0;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.15);
  padding: 0;
}

.dropdown-item {
  padding: 0.55rem 1.5rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #13506f;
}

.dropdown-toggle.focus,
.dropdown-toggle:focus {
  outline: 0;
  box-shadow: none;
}

.dropdown-toggle::after {
  content: "";
  font-family: "FontAwesome";
  font-weight: 300;
  border: 0;
  vertical-align: 0;
  margin-left: 20px;
}

.dropup .dropdown-toggle::after {
  content: "";
  font-family: "FontAwesome";
  font-weight: 300;
  border: 0;
  vertical-align: 0;
  margin-left: 20px;
}

ul.page-pagination li {
  display: inline-block;
}
ul.page-pagination li:not(:last-child) {
  margin-right: 13px;
}
ul.page-pagination li a.page-numbers,
ul.page-pagination li a.next {
  display: block;
  padding: 10px 18px;
  background-color: #fff;
  border-radius: 50px;
  font-weight: 700;
  color: #13506f;
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
ul.page-pagination li a.page-numbers:hover,
ul.page-pagination li a.next:hover {
  background-color: #13506f;
  color: #fff;
}
ul.page-pagination li span.current {
  display: block;
  padding: 10px 18px;
  color: #fff;
  border: 1px solid #13506f;
  border-radius: 50px;
  font-weight: 700;
  background-color: #03506f;
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}

.headline-secondary {
  color: #222;
  font-weight: 700;
}

@media (max-width: 767px) {
  .headline-secondary {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
  }
}
.Mortgage {
  color: #333;
  font-weight: lighter;
  font-size: 19px;
  margin: 24px 0;
}

@media (max-width: 767px) {
  .Mortgage {
    color: #fff;
  }
}
.hero-card {
  height: 500px;
  position: relative;
  font-size: 16px;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .hero-card {
    margin: 20px;
  }
}
.hero-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .hero-card .card-content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7px;
    transform: translate(0, 0);
  }

  .hero-card .card-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -2;
  }
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #bbb;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.hero-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-card.img-left .card-content,
.hero-card.img-right .card-content {
    width: 50%;
    padding: 0 50px;
  }
}
/* Card with left image */
@media (min-width: 768px) {
  .hero-card.img-left .hero-img {
    right: 50%;
  }
}
@media (min-width: 768px) {
  .hero-card.img-left .card-content {
    left: 75%;
  }
}
/* Card with right image */
@media (min-width: 768px) {
  .hero-card.img-right .hero-img {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .hero-card.img-right .card-content {
    left: 25%;
  }
}
.banner-area {
  color: #fff;
  background-image: url(../img/banner-img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-top: 85px;
}
.banner-area::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-area .banner-content {
  max-width: 1260px;
  padding: 0 20px;
  margin: auto;
  height: 480px;
  line-height: 480px;
}
@media only screen and (min-width: 1024px) {
  .banner-area .banner-content {
    padding: 0 60px;
  }
}
.banner-area .banner-info {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
@media only screen and (min-width: 1024px) {
  .banner-area .banner-info {
    max-width: 570px;
  }
}
.banner-area .banner-info h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .banner-area .banner-info h1 {
    font-size: 42px;
  }
}
.banner-area .banner-info p {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
  margin-bottom: 1.5em;
}
.banner-area .banner-info small {
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
@media (min-width: 768px) {
  .banner-area .banner-info small {
    margin-bottom: 0;
    display: inline;
  }
}

@media only screen and (min-width: 1024px) {
  .banner-area .address-form {
    margin: 10px 0 20px;
    width: 700px;
  }
}
.address-form button {
  background-color: #13506f;
  border-radius: 0;
  padding: 0.75em;
  color: #fff;
}
.address-form button:hover {
  color: #fff;
}

.mb-30 {
  margin-bottom: 30px;
}

.form-container {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 30px;
}

.wrap-custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 260px;
  text-align: center;
}
@media (min-width: 768px) {
  .wrap-custom-file {
    width: 260px;
  }
}
.wrap-custom-file label {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  background-image: url(../img/anonymous.png);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  transition: transform 0.4s;
}
.wrap-custom-file label i {
  color: #13506f;
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
}
.wrap-custom-file label span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  bottom: 20px;
  color: #13506f;
  font-size: 14px;
  line-height: 2.2;
  height: 50px;
  left: 20px;
  position: absolute;
  width: 160px;
}
.wrap-custom-file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  overflow: hidden;
  opacity: 0;
}

.profile-input {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  height: 52px;
  padding-left: 20px;
}

.btn-edit-profile {
  background-color: #13506f;
  border: 2px solid #13506f;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  font-size: 16px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  height: 50px;
  width: 200px;
}
.btn-edit-profile:hover {
  color: #13506f;
  background-color: #fff;
  border: 2px solid #13506f;
}

.property-details-section {
  margin-top: 130px;
  padding-bottom: 25px;
}

.pd-title {
  position: relative;
  margin-bottom: 30px;
}
.pd-title label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px 2px;
  display: inline-block;
  background-color: #0166d0;
  color: #fff;
  margin-right: 10px;
}
.pd-title h3 {
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 1rem 0;
}
@media (max-width: 600px) {
  .pd-title h3 {
    font-size: 25px;
  }
}
.pd-title p {
  font-weight: 500;
}
.pd-title .pt-price {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #13506f;
}

.pd-board {
  margin-bottom: 65px;
}
.pd-board .nav-tabs {
  background-color: #13506f;
  border-bottom: none;
}
.pd-board .nav-tabs .nav-item {
  margin-bottom: 0;
}
.pd-board .nav-tabs .nav-item a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 14px 30px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.pd-board .nav-tabs .nav-item a.active {
  color: #13506f;
}
.pd-board .tab-content .tab-details {
  border: 1px solid #e1e1e1;
  border-top: none;
  overflow: hidden;
}
.pd-board .tab-content .tab-details .left-table {
  border: 1px solid rgba(19, 80, 111, 0.4);
}
.pd-board .tab-content .tab-details ul li {
  font-size: 14px;
  padding: 15px 0;
  padding-left: 30px;
}
.pd-board .tab-content .tab-details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(19, 80, 111, 0.4);
}
.pd-board .tab-content .tab-details ul li .type-name {
  display: inline-block;
  color: #13506f;
  width: 148px;
  font-weight: 600;
}
.pd-board .tab-content .tab-details ul li .type-value {
  display: inline-block;
  color: #1d1d1d;
}
.pd-board .tab-content .tab-desc {
  border: 1px solid rgba(19, 80, 111, 0.4);
  overflow: hidden;
  border-top: none;
  padding: 20px;
}
.pd-board .tab-content .tab-desc p {
  color: #222;
}

.pd-widget {
  margin-bottom: 65px;
}
.pd-widget h4 {
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 35px;
}
.pd-widget .map {
  height: 350px;
}
.pd-widget .map iframe {
  width: 100%;
}

.property-sidebar .single-sidebar {
  margin-bottom: 68px;
}
.property-sidebar .single-sidebar.slider-op {
  margin-bottom: 60px;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots {
  padding-top: 6px;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots button {
  height: 5px;
  width: 20px;
  background: #d7d7d7;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots button:not(:last-child) {
  margin-right: 10px;
}
.property-sidebar .single-sidebar .sf-slider.owl-carousel .owl-dots button.active {
  background: #13506f;
}
.property-sidebar .single-sidebar .sf-slider .link:hover {
  color: #03506f;
}
.property-sidebar .single-sidebar .sf-slider .sf-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.property-sidebar .single-sidebar .sf-slider .sf-item .sf-text {
  background: #fff;
  text-align: center;
  padding: 16px 30px 15px;
}
.property-sidebar .single-sidebar .sf-slider .sf-item .sf-text h5 {
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.btn-calculate {
  background-color: #03506f;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 30px;
  width: 100%;
}

.calculator-form input {
  height: 46px;
}
.calculator-form textarea {
  resize: none;
  height: 150px;
}
.calculator-form input,
.calculator-form textarea {
  background-color: #fff;
  border: 1px solid #ededed;
  width: 100%;
  padding-left: 14px;
  color: #666;
  opacity: 0.6;
}
.calculator-form .filter-input {
  margin-bottom: 15px;
}
.calculator-form .filter-input p {
  color: #03506f;
  margin-bottom: 8px;
  font-weight: 500;
}

.hs-slider {
  margin-top: 150px;
}
.hs-slider .hs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
@media only screen and (max-width: 767px) {
  .hs-slider .hs-item {
    height: auto;
    padding: 113px 15px;
  }
}
.hs-slider .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hs-slider.owl-carousel .owl-nav button {
  height: 50px;
  width: 50px;
  background-color: #03506f;
  border-radius: 50%;
  line-height: 58px;
  font-size: 26px;
  color: #fff;
  position: absolute;
}
@media (max-width: 767px) {
  .hs-slider.owl-carousel .owl-nav button {
    height: 40px;
    width: 40px;
    line-height: 48px;
  }
}
.hs-slider.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}
@media (max-width: 767px) {
  .hs-slider.owl-carousel .owl-nav button.owl-prev {
    left: -10px;
  }
}
.hs-slider.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}
@media (max-width: 767px) {
  .hs-slider.owl-carousel .owl-nav button.owl-next {
    right: -10px;
  }
}

.breadcrumb_title {
  color: #13506f;
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .breadcrumb_title {
    font-size: 2rem;
  }
}
.my_dashboard_review {
  background-color: #fff;
  border: 1px solid rgba(3, 80, 111, 0.25);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 40px;
}

.featured_property {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 0;
  padding: 0 0 30px;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 520px) {
  .featured_property {
    display: block;
  }
}
.featured_property:not(:last-child) {
  border-bottom: 1px solid rgba(3, 80, 111, 0.25);
}
.featured_property .thumb {
  background-color: #1d293e;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  height: 126px;
  max-width: 150px;
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  .featured_property .thumb {
    width: 45%;
  }
}
@media (max-width: 520px) {
  .featured_property .thumb {
    height: auto;
    max-width: 100%;
  }
}
.featured_property .thumb img {
  opacity: 0.6;
  object-fit: cover;
}
.featured_property .thumb .thmb_cntnt {
  display: flex;
  align-items: center;
}
.featured_property .details .tc_content {
  padding: 25px 0 10px;
  position: relative;
}
.featured_property .details .tc_content h4 {
  font-size: 21px;
  color: #222;
  font-weight: bold;
  line-height: 1.2;
}
.featured_property .details .tc_content p {
  font-size: 1rem;
  color: #13506f;
  line-height: 1.2;
  margin: 20px 0;
}

.status-tag {
  background-color: #05719c;
  position: absolute;
  left: 0;
  right: 0;
  width: 40%;
  margin: 0 auto;
  padding: 11px 0;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .status-tag {
    width: 60%;
    padding: 6px 0;
    font-size: 13px;
  }
}

.btn-delete {
  display: inline-block;
  background-color: #f7f7f7;
  border-radius: 8px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-delete:hover {
  background-color: #13506f;
  color: #fff;
}
.btn-delete:hover span {
  color: #fff;
}
.btn-delete span {
  color: #13506f;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
