/scss
/admin(old)
404.html
property-details(backup).html
saved-properties.html
user.html
just-sold.html
rentals.html
my-profile.html
properties.html
index(backup).html
search(backup).html
- put buy before properties.txt
index(logged in).html
/img/WhatsApp Image 2021-04-20 at 8.31.08 PM.jpeg
login buttons(backup).html
search(backup).html
sell(backup).html
index(logged in).html