.form-group {
    margin-bottom: 32px;
}

.form-control {
    color: #212529;
    min-height: 38px;
    display: initial;
    border-color: rgba(33, 37, 41, 0.1);
}

.form-control:focus {
    border-color: rgba(33, 37, 41, 0.1);
    box-shadow: none;
}

form label {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 0.85rem;
}

textarea.form-control {
    resize: none;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
    background: url(../img/custom-select.png) right 0.75rem center no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #13506f;
    background-color: #13506f;
}
