@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

html,
body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f9fcfb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #222;
    font-weight: 400;
    font-family: inherit;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

button {
    font-family: inherit;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

input:focus::placeholder,
input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
    color: transparent;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

textarea {
    resize: none;
}

.bg-primary {
    background-color: #13506f !important;
}

/* TEXT COLORS */
.text-primary {
    color: #13506f !important;
}
