@media screen and (max-width: 1024px) {
    .user-dash2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 99.9%;
        flex: 0 0 99.9%;
        max-width: 99.9%;
    }
}

.user-dash2 {
    margin: 130px 0 0;
}

@media (min-width: 768px) {
    .user-dash2 {
        margin: 130px 250px 0;
    }
}

.my-properties {
    background: #fff;
    -webkit-box-shadow: 0 0 20px rgb(38 38 38 / 20%);
    box-shadow: 0 0 20px rgb(38 38 38 / 20%);
    padding: 30px;
}

.my-properties table {
    width: 100%;
    display: table;
}

@media screen and (max-width: 575px) {
    .my-properties table tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
}

.my-properties table thead tr th {
    font-size: 15px;
    color: #222;
    background-color: #f5f6ff;
    border: none;
    font-weight: 500;
    padding: 10px 10px 10px 0;
}

.my-properties table thead tr th:first-child {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    padding-left: 30px;
}

@media screen and (max-width: 575px) {
    .my-properties table thead tr th:first-child,
    .my-properties table thead tr th {
        padding-left: 1rem;
        font-size: 15px;
    }
}

@media screen and (max-width: 575px) {
    .my-properties table tbody tr td:first-child,
    .inner-pages .pagination {
        margin-top: 30px;
    }
}

.my-properties table tbody tr .image {
    width: 150px;
}

@media screen and (max-width: 575px) {
    .my-properties table tbody tr .image {
        width: 100%;
    }
}

.my-properties table tbody tr td {
    border-top: none;
    border-bottom: 1px solid #f3f3f3;
    padding: 30px 20px 30px 0;
    vertical-align: middle;
    font-size: 14px;
}

@media screen and (max-width: 575px) {
    .my-properties table tbody tr td {
        padding-top: 0px;
        padding-bottom: 15px;
    }
}

.my-properties table tbody tr .image a img {
    width: 100%;
    border-radius: 5px;
}

.my-properties table h2 {
    border: none;
    font-size: 16px;
    color: #444;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 0 9px 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .my-properties table h2 {
        font-size: 1.6rem;
    }
}

.my-properties table tbody tr td .inner figure {
    margin-bottom: 16px;
    color: #333;
}

.my-properties table tbody tr td .inner figure i {
    font-size: 13px;
}

.starts li {
    text-align: center;
    display: inline-block;
    margin-bottom: 1.8rem;
}

.my-properties table tbody tr td:last-child {
    padding-right: 5px;
}

.my-properties table tbody tr td.actions {
    font-size: 22px;
}

.my-properties table tbody tr td.actions .edit {
    float: left;
    color: #008000;
}

.my-properties table tbody tr td.actions a {
    padding: 0;
    color: #f50057;
}

.my-properties table tbody tr td.actions .edit i {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-right: 5px;
}

.starts .fa {
    color: #ffc107 !important;
}

.inner .starts li {
    margin-bottom: 0px;
}
