/* POP UP MESSAGE */
.jq-icon-info {
    background-color: #13506f;
    border-color: #13506f;
    color: #fff;
}

h5 {
    font-size: 1rem !important;
}

.table td,
.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

#main-wrapper {
    width: 100%;
    overflow: hidden;
}

.logo {
    max-width: 50px;
}

.topbar {
    background-color: #13506f;
    /* position: relative; */
    position: fixed;
    z-index: 50;
}

.topbar .top-navbar {
    min-height: 50px;
    padding: 0;
}

@media (max-width: 767px) {
    .topbar .top-navbar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: nowrap;
        -webkit-align-items: center;
    }
}

.topbar .top-navbar .dropdown-toggle::after {
    display: none;
}

@media (max-width: 767px) {
    .topbar .top-navbar .navbar-collapse {
        display: flex;
        width: 100%;
    }
}

.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 50px;
}

@media (max-width: 767px) {
    .topbar .top-navbar .navbar-nav {
        flex-direction: row;
    }
}

.topbar .top-navbar .profile-pic {
    white-space: nowrap;
}

.topbar .top-navbar .profile-pic img {
    width: 30px;
    border-radius: 100%;
}

.navbar-header {
    background: rgba(0, 0, 0, 0.05);
    line-height: 65px;
    padding-left: 10px;
    min-width: 70px;
}

@media (min-width: 768px) {
    .navbar-header {
        width: 220px;
        flex-shrink: 0;
    }
}

.navbar-header .navbar-brand {
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.topbar .top-navbar .profile-pic span {
    font-size: 14px;
    white-space: nowrap;
}

@media (max-width: 767px) and (min-width: 768px) {
    .topbar .top-navbar .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

@media (max-width: 767px) {
    .hidden-md-down {
        display: none;
    }
}

/* LEFT SIDEBAR */
.left-sidebar {
    position: absolute;
    width: 220px;
    height: 100%;
    top: 0;
    z-index: 20;
    padding-top: 70px;
    background: #fff;
    box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
}

@media (max-width: 767px) {
    .left-sidebar {
        left: -220px;
    }

    .mini-sidebar.show-sidebar .left-sidebar {
        left: 0; /* Show Sidebar */
    }
}

.ps {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

.scroll-sidebar {
    height: calc(100% - 27px);
    position: relative;
}

@media (min-width: 768px) {
    .scroll-sidebar {
        padding-bottom: 0;
        height: calc(100vh - 70px);
    }
}

@media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav .hide-menu,
    .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
        display: none;
    }
}

.sidebar-nav {
    padding: 15px 0 0 0;
}

.sidebar-nav ul {
    margin: 0;
    padding: 0;
}

.sidebar-nav ul li {
    margin-bottom: 8px;
    margin-top: 8px;
}

.sidebar-nav ul li a {
    color: #8d97ad;
    padding: 10px 35px 10px 15px;
    display: block;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-nav ul li.active a {
    color: #13506f;
    border-left: 3px solid #13506f;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
    color: #13506f;
}

.sidebar-nav ul li ul {
    padding-left: 30px;
}

.sidebar-nav ul li ul li a {
    padding: 7px 35px 7px 15px;
}

.sidebar-nav > ul > li > a i {
    width: 25px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #787f91;
}

.sidebar-nav .has-arrow {
    position: relative;
}

.sidebar-nav .has-arrow::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #8d97ad;
    right: 20px;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 21px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.page-wrapper {
    background: #edf1f5;
    position: relative;
}

@media (min-width: 1024px) {
    .page-wrapper {
        margin-left: 220px;
    }
}

.page-titles {
    background: #fff;
    padding: 14px 10px;
    box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
    margin: 65px -25px 25px -25px;
}

.page-titles h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.page-titles .breadcrumb {
    padding: 0;
    margin: 0;
    background: 0 0;
    font-size: 14px;
}

.page-titles .breadcrumb li a {
    color: #13506f;
}

.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\e649";
    font-family: themify;
    color: #ced4da;
    font-size: 11px;
}

.page-titles .breadcrumb .breadcrumb-item.active {
    color: #13506f;
    font-weight: 600;
}

/* CARDS */
.card {
    margin-bottom: 20px;
}

.card .card-title {
    position: relative;
    font-weight: 500;
}

/* FOOTER */

.footer {
    bottom: 0;
    color: #13506f;
    left: 0;
    padding: 17px 15px;
    text-align: center;
    right: 0;
    font-weight: 500;
    border-top: 1px solid #e9ecef;
    background-color: #fff;
}

@media (min-width: 1024px) {
    .footer {
        margin-left: 220px;
    }
}
