input.parsley-error {
    border: 1px solid #ff7b54;

    &:focus {
        border: 1px solid #ff7b54;
    }
}

.parsley-required,
.parsley-pattern,
.parsley-type,
.parsley-length {
    color: #ff0000;
    font-weight: 500;
    margin-top: 10px;
}

.form-bg {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.form-container {
    width: 600px;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 47px;
    padding-bottom: 30px;
}

.px {
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.form-title {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
    color: $primary-color;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 1.44rem;
    }
}

.input-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 16px;
}

.input100:focus + .focus-input100 {
    animation: shadow 0.5s ease-in-out forwards;
    -webkit-animation: shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes shadow {
    to {
        box-shadow: 0 0 60px 20px;
        opacity: 0;
    }
}

@keyframes shadow {
    to {
        box-shadow: 0 0 60px 20px;
        opacity: 0;
    }
}

.input100 {
    border: 0;
    background-color: #f7f7f7;
    color: #686868;
    width: 100%;
    height: 62px;
    font-size: 1.125rem;
    padding: 0 30px 0 65px;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: $primary-color;
    padding-left: 18px;
}

.focus-input100 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    color: rgba(211, 63, 141, 0.6);
}

.symbol-input100 {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    font-size: 20px;
    color: #bbb;
    border-radius: 25px;
    padding-left: 21px;
    pointer-events: none;
    transition: all 0.4s;
}

.container-form-btn {
    padding-top: 25px;
    width: 100%;
}

.txt {
    color: $primary-color;
    font-size: 16px;
    line-height: 1.4;

    @media (max-width: 600px) {
        display: block;
        font-size: 15px;
        margin-bottom: 15px;
    }

    @media (min-width: 768px) {
        padding: 22px 0;
    }
}

.inputLabel {
    display: block;
    cursor: pointer;
    color: #176389;
    font-size: 1rem;
    line-height: 24px;
}

.symbol-input100 {
    top: 47px;
}

.input-wrapper {
    margin-bottom: 20px;
}

.jdHFhS {
    border-top: 1px solid rgba(51, 51, 51, 0.2);
    text-align: center;
    padding: 16px 16px 0px;
    margin-top: 20px;

    @media (max-width: 767px) {
        padding-right: 0;
        padding-left: 0;
    }
}

.iWGcMh {
    color: rgb(42, 42, 51);
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
}

.edCEyS {
    margin: 16px 0px 0px;
}

.social-logins-container {
    .btn-social-connect {
        display: block;
        margin: 0 auto 1rem;
        border: 1px solid #ccc;
        height: 38px;
        line-height: 35px;
        border-radius: 3px;
        max-width: 408px;
        overflow: hidden;
        padding: 0 40px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        font-size: 15px;
        cursor: pointer;
        font-family: inherit;

        svg {
            position: absolute;
            left: 10%;
            height: 18px;
            bottom: 10px;
        }
    }

    .btn-apple {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }

    .btn-facebook {
        background: #006aff;
        border-color: #1877f2;
        color: #fff;
    }

    .btn-google-plus {
        background: #fff;
        color: #000;
    }
}
