.property-details-section {
    padding-bottom: 25px;
}

.property-pic-slider {
    margin-right: -10px;
    overflow: hidden;
    margin-bottom: 60px;
    &.owl-carousel {
        .owl-nav {
            button {
                height: 50px;
                width: 50px;
                background: #000000;
                border-radius: 50%;
                line-height: 58px;
                text-align: center;
                font-size: 30px;
                color: #fff;
                position: absolute;
                left: 20px;
                top: 50%;
                -webkit-transform: translateY(-30px);
                -ms-transform: translateY(-30px);
                transform: translateY(-30px);
                &.owl-next {
                    left: auto;
                    right: 20px;
                }
            }
        }
    }
    .ps-item {
        .container-fluid {
            padding-right: 5px;
        }
        .ps-item-inner {
            height: 317px;
            margin-bottom: 10px;
            margin-right: 10px;
            &.large-item {
                height: 645px;
            }
        }
    }
}

.pd-text {
    .pd-title {
        position: relative;
        margin-bottom: 65px;
        .heart-icon {
            position: absolute;
            right: 0;
            top: 0;
            content: "\e030";
            font-family: "ElegantIcons";
            font-size: 18px;
            color: $primary-color;
        }
        .label {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 3px 10px 2px;
            display: inline-block;
            background: #0166d0;
            color: #fff;
            margin-right: 10px;
        }
        .pt-price {
            font-size: 18px;
            font-weight: 700;
            color: $primary-color;
            margin-bottom: 10px;
            display: inline-block;
            span {
                font-size: 14px;
                color: #333;
                font-weight: 400;
            }
        }
        h3 {
            margin-bottom: 6px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin-bottom: 5px;
        }
        p {
            font-weight: 500;
            span {
                color: $primary-color;
            }
        }
    }
    .pd-social {
        text-align: right;
        padding-top: 40px;
        margin-bottom: 30px;
        a {
            display: inline-block;
            font-size: 14px;
            color: #000;
            height: 36px;
            width: 36px;
            background: #f2f2f2;
            line-height: 36px;
            text-align: center;
            border-radius: 50%;
            margin-right: 10px;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            &:hover {
                background: $primary-color;
                color: #fff;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .pd-board {
        margin-bottom: 65px;
        .tab-board {
            .nav-tabs {
                background: #113220;
                border-bottom: none;
                .nav-item {
                    margin-bottom: 0;
                    a {
                        font-size: 16px;
                        color: #fff;
                        display: inline-block;
                        padding: 14px 30px;
                        border: none;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        font-family: "Lato", sans-serif;
                        text-transform: uppercase;
                        font-weight: 700;
                        &.active {
                            color: #fff;
                            background: $primary-color;
                        }
                    }
                }
            }
            .tab-content {
                .tab-details {
                    border: 1px solid #e1e1e1;
                    overflow: hidden;
                    border-top: none;
                    ul {
                        width: 50%;
                        float: left;
                        &.left-table {
                            li {
                                &:nth-child(even) {
                                    background: #f7f7f7;
                                }
                            }
                        }
                        &.right-table {
                            li {
                                &:nth-child(odd) {
                                    background: #f7f7f7;
                                }
                            }
                        }
                        li {
                            font-size: 14px;
                            list-style: none;
                            font-weight: 500;
                            padding: 15px 0;
                            padding-left: 30px;
                            .type-name {
                                color: #000;
                                width: 148px;
                                display: inline-block;
                            }
                            .type-value {
                                color: $primary-color;
                                display: inline-block;
                            }
                        }
                    }
                }
                .tab-desc {
                    border: 1px solid #e1e1e1;
                    overflow: hidden;
                    border-top: none;
                    padding: 20px;
                }
            }
        }
    }
    .pd-widget {
        margin-bottom: 65px;
        h4 {
            color: #252525;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 35px;
        }
        .map {
            height: 350px;
            iframe {
                width: 100%;
            }
        }
        .map-location {
            background: #f5f5f5;
            padding: 35px 0 10px 40px;
            .ml-item {
                .ml-single-item {
                    margin-bottom: 25px;
                    h6 {
                        color: #000;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-bottom: 6px;
                        span {
                            color: $primary-color;
                            text-transform: lowercase;
                            margin-left: 6px;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                    p {
                        color: #888888;
                    }
                }
            }
        }
        .pd-agent {
            background: #f5f5f5;
            overflow: hidden;
            padding: 40px;
            .agent-pic {
                float: left;
                margin-right: 30px;
                img {
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                }
            }
            .agent-text {
                overflow: hidden;
                padding-top: 10px;
                .at-title {
                    margin-bottom: 20px;
                    position: relative;
                    h6 {
                        color: #000;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 6px;
                    }
                    span {
                        display: block;
                        font-size: 12px;
                        color: $primary-color;
                        font-weight: 500;
                    }
                    .primary-btn {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                p {
                    color: #000;
                    font-weight: 500;
                    margin-bottom: 24px;
                }
                .at-option {
                    .at-number {
                        font-size: 14px;
                        color: $primary-color;
                        font-weight: 600;
                        display: inline-block;
                        padding: 10px 16px;
                        background: #fff;
                        margin-right: 6px;
                    }
                    .at-social {
                        display: inline-block;
                        a {
                            font-size: 14px;
                            color: #000;
                            background: #fff;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;
                            display: inline-block;
                            margin-right: 6px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        .pd-review {
            .pr-item {
                margin-bottom: 34px;
                .pr-avatar {
                    overflow: hidden;
                    margin-bottom: 20px;
                    .pr-pic {
                        float: left;
                        margin-right: 20px;
                        img {
                            height: 70px;
                            width: 70px;
                            border-radius: 50%;
                        }
                    }
                    .pr-text {
                        overflow: hidden;
                        h6 {
                            color: #000;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 5px;
                        }
                        span {
                            font-size: 12px;
                            color: #666666;
                            display: block;
                            margin-right: 4px;
                        }
                        .pr-rating {
                            i {
                                font-size: 10px;
                                color: #f7a441;
                                margin-right: -4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.review-form,
.leave-comment-form,
.cc-form {
    overflow: hidden;
    position: relative;
    .group-input {
        margin-right: -20px;
        input {
            width: calc(33.33% - 20px);
            float: left;
            height: 46px;
            font-size: 12px;
            color: #888888;
            padding-left: 20px;
            border: 1px solid #e1e1e1;
            margin-right: 20px;
            margin-bottom: 20px;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            &::-webkit-input-placeholder {
                color: #888888;
            }
            &::-moz-placeholder {
                color: #888888;
            }
            &:-ms-input-placeholder {
                color: #888888;
            }
            &::-ms-input-placeholder {
                color: #888888;
            }
            &::placeholder {
                color: #888888;
            }
            &:focus {
                border-color: $primary-color;
            }
        }
    }
    textarea {
        width: 100%;
        height: 110px;
        font-size: 12px;
        color: #888888;
        padding-left: 20px;
        border: 1px solid #e1e1e1;
        padding-top: 12px;
        resize: none;
        margin-bottom: 14px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &::-webkit-input-placeholder {
            color: #888888;
        }
        &::-moz-placeholder {
            color: #888888;
        }
        &:-ms-input-placeholder {
            color: #888888;
        }
        &::-ms-input-placeholder {
            color: #888888;
        }
        &::placeholder {
            color: #888888;
        }
        &:focus {
            border-color: $primary-color;
        }
    }
    .rating {
        position: absolute;
        right: 5px;
        bottom: 0;
        span {
            font-size: 14px;
            color: #636363;
            font-weight: 500;
        }
        i {
            font-size: 12px;
            color: #f7a441;
            margin-right: -4px;
        }
    }
}

.property-sidebar {
    .single-sidebar {
        margin-bottom: 68px;
        &.slider-op {
            margin-bottom: 60px;
        }
        .top-agent {
            .ta-item {
                overflow: hidden;
                margin-bottom: 30px;
                .ta-pic {
                    height: 130px;
                    width: 130px;
                    float: left;
                }
                .ta-text {
                    overflow: hidden;
                    border: 1px solid #ebebeb;
                    border-left: none;
                    height: 130px;
                    padding-top: 26px;
                    padding-left: 20px;
                    h6 {
                        margin-bottom: 8px;
                        a {
                            color: #000;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                    span {
                        font-size: 14px;
                        color: #888888;
                        display: block;
                        margin-bottom: 8px;
                    }
                    .ta-num {
                        font-size: 14px;
                        color: $primary-color;
                        font-weight: 500;
                    }
                }
            }
        }
        .sf-slider {
            &.owl-carousel {
                .owl-dots {
                    padding-top: 6px;
                    button {
                        height: 2px;
                        width: 20px;
                        background: #d7d7d7;
                        margin-right: 10px;
                        &.active {
                            height: 3px;
                            background: $primary-color;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .sf-item {
                height: 350px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                .sf-text {
                    background: #fff;
                    text-align: center;
                    padding: 16px 30px 15px;
                    h5 {
                        font-weight: 700;
                        color: #000;
                        text-transform: uppercase;
                        margin-bottom: 6px;
                    }
                    span {
                        font-size: 12px;
                        color: $primary-color;
                        font-weight: 500;
                        display: block;
                    }
                }
            }
        }
        .calculator-form {
            .filter-input {
                margin-bottom: 15px;
                p {
                    color: #000;
                    margin-bottom: 8px;
                    font-weight: 500;
                }
                input {
                    height: 46px;
                    background: transparent;
                    border: 1px solid #ededed;
                    width: 100%;
                    padding-left: 20px;
                    color: #666666;
                    opacity: 0.6;
                    &::-webkit-input-placeholder {
                        color: #666666;
                        opacity: 0.6;
                    }
                    &::-moz-placeholder {
                        color: #666666;
                        opacity: 0.6;
                    }
                    &:-ms-input-placeholder {
                        color: #666666;
                        opacity: 0.6;
                    }
                    &::-ms-input-placeholder {
                        color: #666666;
                        opacity: 0.6;
                    }
                    &::placeholder {
                        color: #666666;
                        opacity: 0.6;
                    }
                }
            }
            .site-btn {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
}
