.property-details-section {
    margin-top: 130px;
    padding-bottom: 25px;
}

// Property Details Title Area
.pd-title {
    position: relative;
    margin-bottom: 30px;

    label {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 3px 10px 2px;
        display: inline-block;
        background-color: #0166d0;
        color: #fff;
        margin-right: 10px;
    }

    h3 {
        font-weight: 700;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 1rem 0;

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }

    p {
        font-weight: 500;
    }

    .pt-price {
        color: $primary-color;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
    }
}

// Property Details Board
.pd-board {
    margin-bottom: 65px;

    .nav-tabs {
        background-color: $primary-color;
        border-bottom: none;

        .nav-item {
            margin-bottom: 0;

            a {
                display: inline-block;
                font-size: 16px;
                color: #fff;
                padding: 14px 24px;
                border: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                text-transform: uppercase;
                font-weight: 700;

                &.active {
                    color: $primary-color;
                }
            }
        }
    }

    .tab-content {
        .tab-details {
            border: 1px solid #e1e1e1;
            border-top: none;
            overflow: hidden;

            .left-table {
                border: 1px solid rgba($primary-color, 0.4);
            }

            ul li {
                font-size: 14px;
                padding: 15px 0 15px 30px;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba($primary-color, 0.4);
                }

                .type-name,
                .type-value {
                    display: inline-block;
                }

                .type-name {
                    color: $primary-color;
                    width: 148px;
                    font-weight: 600;
                }

                .type-value {
                    color: $secondary-color;
                }
            }
        }

        .tab-desc {
            border: 1px solid rgba($primary-color, 0.4);
            border-top: none;
            padding: 20px;
            overflow: hidden;

            p {
                color: $secondary-color;
            }
        }
    }
}

.pd-widget {
    margin-bottom: 65px;

    h4 {
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 35px;
    }

    .map {
        height: 350px;

        iframe {
            width: 100%;
        }
    }
}

.property-sidebar .single-sidebar {
    margin-bottom: 68px;

    &.slider-op {
        margin-bottom: 60px;
    }

    .sf-slider {
        &.owl-carousel .owl-dots {
            padding-top: 6px;

            button {
                height: 5px;
                width: 20px;
                background-color: #d7d7d7;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &.active {
                    background-color: $primary-color;
                }
            }
        }

        .link:hover {
            color: $primary-color;
        }

        .sf-item {
            @include flex();
            height: 350px;

            .sf-text {
                background-color: #fff;
                text-align: center;
                padding: 16px 30px 15px;

                h5 {
                    font-weight: 700;
                    color: $secondary-color;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
            }
        }
    }
}

.btn-calculate {
    background-color: $primary-color;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 30px;
    width: 100%;
}

.calculator-form {
    input {
        height: 46px;
    }

    textarea {
        height: 150px;
    }

    input,
    textarea {
        background-color: #fff;
        border: 1px solid #ededed;
        width: 100%;
        padding-left: 14px;
        color: #666;
        opacity: 0.6;
    }

    .filter-input {
        margin-bottom: 15px;

        p {
            color: $primary-color;
            margin-bottom: 8px;
            font-weight: 500;
        }
    }
}
