/* LEFT SIDEBAR */
.left-sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    top: 0;
    z-index: 20;
    padding-top: 70px;
    background: #fff;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);

    @media (max-width: 767px) {
        left: -220px;

        .mini-sidebar.show-sidebar & {
            /* Show Sidebar */
            left: 0;
        }
    }
}

.ps {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

.scroll-sidebar {
    height: calc(100% - 27px);
    position: relative;

    @media (min-width: 768px) {
        padding-bottom: 0;
        height: calc(100vh - 70px);
    }
}

.sidebar-nav {
    padding: 15px 0 0 0;

    ul {
        li {
            margin-bottom: 8px;
            margin-top: 8px;

            a {
                color: #8d97ad;
                padding: 10px 35px 10px 15px;
                display: block;
                font-size: 14px;
                font-weight: 400;

                &.active,
                &:hover {
                    color: $primary-color;
                }

                i {
                    width: 25px;
                    font-size: 16px;
                    display: inline-block;
                    vertical-align: middle;
                    color: #787f91;
                }
            }

            &.active a {
                color: $primary-color;
                border-left: 3px solid $primary-color;
            }

            ul {
                padding-left: 30px;

                li a {
                    padding: 7px 35px 7px 15px;
                }
            }
        }
    }

    .has-arrow {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: #8d97ad;
            right: 20px;
            -webkit-transform: rotate(135deg) translate(0, -50%);
            -ms-transform: rotate(135deg) translate(0, -50%);
            -o-transform: rotate(135deg) translate(0, -50%);
            transform: rotate(135deg) translate(0, -50%);
            -webkit-transform-origin: top;
            -ms-transform-origin: top;
            -o-transform-origin: top;
            transform-origin: top;
            top: 21px;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
    }
}
