.footer-section {
    background: $primary-color;
    padding-top: 70px;
}

.fs-about {
    margin-bottom: 30px;

    .fs-logo {
        margin-bottom: 20px;

        a {
            display: inline-block;
            font-size: 30px;
            color: #fff;
        }
    }

    p {
        color: #fff;
        line-height: 27px;
        opacity: .6;
        margin-bottom: 25px;
    }

    .fs-social {
        a {
            display: inline-block;
            font-size: 1.15rem;
            color: #03506f;
            height: 40px;
            width: 40px;
            background: #fff;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}

.fs-widget {
    margin-bottom: 30px;

    h5 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: .85rem;
    }

    .footer-item,
    .footer-link{
        font-size: 14px;
        color: #fff;
        opacity: .6;
        line-height: 30px;
    }

    p {
        color: #fff;
        opacity: .6;
    }
}

.copyright-text {
    display: block;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #fff;
    opacity: 0.6;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 25px 0;

    @media (min-width: 768px) {
        margin-top: 40px;
    }
} 