.site-logo {
    max-width: 60px;
}

#movetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 1.125rem;
    border: none;
    width: 46px;
    height: 46px;
    background-color: #fff;
    color: $primary-color;
    box-shadow: 0 11px 30px 0 rgba(51, 51, 51, 0.15);
    padding: 0;
    line-height: 36px;
    border-radius: 50px;
    transition: all 0.3s ease-out;
}
