#login {
    background-color: $primary-color;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

#signup {
    background-color: #fff;
    color: $primary-color;
    margin-left: 20px;

    @media (max-width: 767px) {
        margin-left: 0;
    }
}

#login,
#signup {
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;

    @media (max-width: 767px) {
        width: 35%;
    }
}

.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: rgba(#fff, 0.7);

    .site-navigation {
        .site-menu {
            .active {
                color: #fff;
                display: inline-block;
            }

            > li {
                display: inline-block;

                > a {
                    padding: 5px 20px;
                    color: rgba(#fff, 0.7);
                    display: inline-block;
                    text-decoration: none;
                    font-size: 1.1rem;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .has-children {
                position: relative;

                > a {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: "\e64b";
                        font-family: "themify";
                        font-size: 10px;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }

                .dropdown {
                    visibility: hidden;
                    opacity: 0;
                    top: 100%;
                    position: absolute;
                    text-align: left;
                    border-top: 2px solid $primary-color;
                    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
                    padding: 10px 0;
                    margin-top: 20px;
                    width: 250px;
                    background-color: #fff;
                    transition: 0.2s 0s;

                    &.arrow-top {
                        position: absolute;

                        &:before {
                            bottom: 100%;
                            left: 20%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                        }

                        &:before {
                            border-color: rgba(136, 183, 213, 0);
                            border-bottom-color: #fff;
                            border-width: 10px;
                            margin-left: -10px;
                        }
                    }

                    a {
                        text-transform: none;
                        letter-spacing: normal;
                        transition: 0s all;
                        color: $primary-color;
                    }

                    .active {
                        color: $primary-color;
                    }

                    > li {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        min-width: 210px;

                        > a {
                            padding: 9px 20px;
                            display: block;
                            &:hover {
                                background-color: rgb(250, 246, 246);
                                color: $secondary-color;
                            }
                        }

                        &.has-children {
                            > a {
                                &:before {
                                    content: "\e315";
                                    right: 20px;
                                }
                            }

                            > .dropdown,
                            > ul {
                                left: 100%;
                                top: 0;
                            }
                        }
                    }
                }

                &:hover,
                &:focus,
                &:active {
                    > a {
                        color: #fff;
                    }
                }

                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                    > .dropdown {
                        transition-delay: 0s;
                        margin-top: 0px;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// MOBILE MENU
.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    transform: translateX(110%);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;

    .offcanvas-menu & {
        transform: translateX(0%);
    }

    .site-mobile-menu-header {
        width: 100%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;

        .site-mobile-menu-close {
            float: right;

            span {
                font-size: 20px;
                display: inline-block;
                padding-left: 10px;
                padding-right: 0px;
                line-height: 1;
                color: $primary-color;
                font-weight: 600;
                cursor: pointer;
                transition: 0.3s all ease;
            }
        }

        .site-mobile-menu-logo {
            float: left;
            margin-top: 10px;
            margin-left: 0px;

            a {
                display: inline-block;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }

                img {
                    max-width: 70px;
                }
            }
        }
    }

    .site-mobile-menu-body {
        position: relative;
        padding: 0 20px 20px 5px;
        height: calc(100vh - 52px);
        padding-bottom: 150px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .site-nav-wrap {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        a {
            padding: 10px 20px;
            position: relative;
            color: #333;

            &:hover {
                color: $primary-color;
            }
        }

        li {
            .active {
                color: $primary-color;
                font-weight: 600;
            }
        }

        .arrow-collapse {
            position: absolute;
            right: 10px;
            top: 7px;
            height: 36px;
            cursor: pointer;
            border-radius: 50%;

            &:before {
                font-size: 12px;
                z-index: 20;
                font-family: "themify";
                content: "\e64b";
                position: relative;
                top: 0;
                left: 50%;
                padding: 6px;
                border-radius: 50%;
                color: $primary-color;
                font-weight: 900;
                transform: translate(-50%, -50%) rotate(-180deg);
                transition: 0.3s all ease;
            }

            &.collapsed {
                &:before {
                    transform: translate(-50%, -50%);
                }
            }
        }

        > li {
            display: block;
            position: relative;
            float: left;
            width: 100%;
            font-weight: 300;

            > a {
                padding-left: 20px;
                font-size: 1rem;
                font-weight: 300;
            }

            > ul {
                padding: 0;
                margin: 0;
                list-style: none;

                > li {
                    display: block;

                    > a {
                        padding-left: 40px;
                        font-size: 16px;
                    }

                    > ul {
                        padding: 0;
                        margin: 0;

                        > li {
                            display: block;

                            > a {
                                font-size: 16px;
                                padding-left: 60px;
                            }
                        }
                    }
                }
            }
        }

        &[data-class="social"] {
            float: left;
            width: 100%;
            margin-top: 30px;
            padding-bottom: 5em;

            > li {
                width: auto;

                &:first-child {
                    a {
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

.sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;

    .site-navbar {
        border-bottom: 1px solid rgba(#fff, 0.2);
        transition: 0.3s all ease;

        .site-menu-toggle {
            color: #fff;
        }

        .site-logo {
            a {
                color: #fff;
            }
        }
    }

    &.is-sticky {
        .site-navbar {
            background: #fff;
            border-bottom: 1px solid transparent;
            box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);

            .site-menu-toggle {
                color: $primary-color;
            }

            img {
                content: url("../img/logo.png");
            }

            .site-menu {
                > li {
                    > a {
                        color: $secondary-color;
                        font-weight: 300;

                        &:hover,
                        &.active {
                            color: $primary-color;
                        }
                    }
                }
            }

            .site-navigation .site-menu .has-children:hover > a,
            .site-navigation .site-menu .has-children:focus > a {
                color: $primary-color;
            }

            &.bg-primary {
                background-color: #fff !important;

                img {
                    content: url("../img/logo.png");
                }

                .site-menu-toggle {
                    color: $primary-color;
                }

                .site-navigation .site-menu .has-children > a {
                    position: relative;
                }

                .site-navigation .site-menu .active {
                    color: $primary-color;
                    display: inline-block;
                }

                .site-menu {
                    > li {
                        > a {
                            color: $secondary-color;
                            font-weight: 300;

                            &:hover,
                            &.active {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
