/* MARGINS */
.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-b-40 {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .mx-20 {
        margin: 0 20px;
    }
}

/* PADDINGS */
.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

/* FONT SIZES */
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 1rem;
}

.font-18 {
    font-size: 1.125rem;
}

.font-20 {
    font-size: 1.25rem;
}

/* FONT WEIGHTS */
.f-300 {
    font-weight: 300;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

/* LABEL COLORS */
.label {
    &-success {
        background-color: #00c292;
    }

    &-danger {
        background-color: #e46a76;
    }

    &-warning {
        background-color: #fec107;
    }
}

.img-circle {
    border-radius: 100%;
}

.shadow-xxs-1 {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
}
