h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: inherit;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.6rem;
    }
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

button {
    font-family: inherit;
}
